<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>

<body>
    <h1>New Product</h1>
    <form action="/new" method="POST">
        <label for="name">Product Name</label>
        <input type="text" name="name" id="name" placeholder="product name">
        <label for="category">Category</label>
        <input type="text" id="category" name="category" placeholder="category">
        <label for="img">Image name</label>
        <input type="text" id="img" name="img" placeholder="img" >
        <button>Submit</button>
    </form>

    <form action="/">
        <button>Cancel</button>
    </form>

</body>

</html>